<div class="container-fluid" style="margin-bottom: 3%;">
        <h1>Image Processing Api</h1>
        
        <center>
            <h6>Owner: <%= ownerId %></h6>
            <p>If you just want to use this tool to process an image you can drag it and drop in the area bellow.</p>
            <p>Otherwise, if you want to use this tool as an api, read the <a>documentation</a></p>
            <form action="/upload/image" method="POST">            
                <div class="drop-area">
                    <div id="dropArea">
                          <h2>Drop your image here</h2>
                          <input type="file" id="image" name="image" onChange="handleUpload();"/>
                          <input type="hidden" value="<%= ownerId %>" id="owner" name="owner">
                    </div>
                    
                </div>
            </form>
        </center>
        <center>
        <div style="display:flex;width:100%;margin-top:2%;margin-bottom:2%">
            <div id="results" style="text-align:right;width:63%">
               
            </div>
            <a href="" id="results-link"  target="_blank" style="text-align:left;margin-left:2px;width:50%;"></a>
        </div>
         
        </center>
        <div class="row justify-content-center">
                <div class="col-md-4">
                    <div class="card">
                        <div class="card-header">
                            Original Image
                        </div>
                        <div class="card-body" style="min-height:320px;">
                            <img id="originalImage" src="" alt="" class="img-fluid">
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card">
                        <div class="card-header">
                            Tools
                        </div>
                        <div class="card-body"  style="min-height:320px;">
                          <button type="button" class="btn btn-primary position-relative">
                            Convert
                          </button>
                          <button type="button" class="btn btn-primary position-relative">
                            Resize
                          </button>
                          <button type="button" class="btn btn-primary position-relative">
                           Crop
                          </button>
                          <button type="button" class="btn btn-primary position-relative" onclick="handleThumb();">
                            Generate Thumbnail
                            <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">
                              200x200
                            </span>
                          </button>
                         
                        </div>
                        
                        
                    </div>
                </div>
            </center>
        </div>
      