<footer >
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <center>
                    <p><img src="/assets/images/coffee-cup.png" width="2%" height="2%">Wanna buy me a coffe? Support my <a href="">Patreon</a> </p>
                </center>
            </div>
        </div>
    </div>

</footer>